In [1]:
import pandas as pd
from datetime import date, timedelta,datetime as dt
import os
import os.path as osp
from pathlib import Path

C:\softwares\conda4.8.2-python3.7\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
C:\softwares\conda4.8.2-python3.7\lib\site-packages\numpy\.libs\libopenblas.IPBC74C7KURV7CB2PKT5Z5FNR3SIBV4J.gfortran-win_amd64.dll
C:\softwares\conda4.8.2-python3.7\lib\site-packages\numpy\.libs\libopenblas.noijjg62emaszi6nyurl6jbkm4evbgm7.gfortran-win_amd64.dll
C:\softwares\conda4.8.2-python3.7\lib\site-packages\numpy\.libs\libopenblas.PYQHXLVVQ7VESDPUVUADXEVJOBGHJPAY.gfortran-win_amd64.dll
C:\softwares\conda4.8.2-python3.7\lib\site-packages\numpy\.libs\libopenblas.TXA6YQSD3GCQQC22GEQ54J2UDCXDXHWN.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
data_path = osp.join(os.getcwd(),'Data')

In [3]:
data_path

'C:\\work\\LJMU-THESIS\\FINAL\\practical\\Data'

In [4]:
df_2016 = pd.read_csv(data_path + '/reddit-yearly-download/news_2016.csv')

In [5]:
df_2017 = pd.read_csv(data_path + '/reddit-yearly-download/news_2017.csv')

In [6]:
df_2018 = pd.read_csv(data_path + '/reddit-yearly-download/news_2018.csv')

In [7]:
df_2019 = pd.read_csv(data_path + '/reddit-yearly-download/news_2019.csv')

In [8]:
df_2019

,Unnamed: 0,date,title,score
0,0,2019-01-01,Putin Claimed His Hypersonic Missiles Were Inv...,1
1,1,2019-01-01,Antonio Brown Responds to George Kittle Recrui...,1
2,2,2019-01-01,Fiesta Bowl Live: LSU Takes on Unbeaten UCF,1
3,3,2019-01-01,Israel's opposition alliance disbands months b...,1
4,4,2019-01-01,DRC electoral fraud fears rise as internet shu...,1
...,...,...,...,...
7555,7555,2019-12-30,Australia: Fires worsen and reach Melbourne su...,1
7556,7556,2019-12-30,Scientists Use Recycled Sewage Water to Grow 5...,1
7557,7557,2019-12-30,New Year's fireworks OK'd in Sydney as wildfir...,1
7558,7558,2019-12-30,"The top most inspiring books for you to read, ...",1
7559,7559,2019-12-30,India’s rape epidemic- What is behind India’s ...,1

In [10]:
df_2020 = pd.read_csv(data_path + '/reddit-yearly-download/news_2020.csv')

In [9]:
df_2020

,Unnamed: 0,date,title,score
0,0,2020-01-01,Impeachment Proceedings to be started against ...,1
1,1,2020-01-01,"Police in Uttar Pradesh, India accused of stri...",1
2,2,2020-01-01,Carlos Ghosn: Ex-Nissan boss escaped Japan in ...,1
3,3,2020-01-01,"Youths hurl punches, anti-Semitic slurs in Ven...",1
4,4,2020-01-01,Iraq riots expose an America weaker and with f...,1
...,...,...,...,...
5490,2515,2020-12-04,Learn how to Allow Parental Controls in Discord,1
5491,2516,2020-12-04,Sub waday mery khudhwand k sachy hein Masih ge...,1
5492,2517,2020-12-04,Law enforcement and security officials reveal ...,1
5493,2518,2020-12-04,"Taiwan fights on 3 fronts china, Corona &amp; ...",1
5494,2519,2020-12-04,Fauci: Coronavirus immunity cards for American...,1

In [14]:
frames = [df_2020, df_2019,df_2018,df_2017,df_2016]
result = pd.concat(frames)
result['Date'] = pd.to_datetime(result['date'])
result = result.sort_values(by=['Date','score'],ascending=[True, False])

In [15]:
result.drop(['Unnamed: 0', 'date','score'], axis=1, inplace=True)

In [16]:
result['News'] = result['title']

In [17]:
result.drop(['title'], axis=1, inplace=True)

In [18]:
result['Date'] = result['Date'].dt.date

In [19]:
main_df = pd.read_csv(data_path + '/News.csv')

In [20]:
main_df['Date'] = pd.to_datetime(main_df['Date'])
main_df['Date'] = main_df['Date'].dt.date

In [21]:
main_df = main_df.sort_values(by=['Date'],ascending=[True])

In [22]:
merged_df = pd.concat([main_df,result])

In [23]:
merged_df.to_csv(data_path + '/news_modified.csv')

In [6]:
dji_org = pd.read_csv(data_path + '/DowJones.csv')
dji_new = pd.read_csv(data_path + '/DJI.csv')

In [7]:
dji_mod = pd.concat([dji_org,dji_new])

In [9]:
dji_mod['Date'] = pd.to_datetime(dji_mod['Date'])

In [10]:
dji_mod = dji_mod.sort_values(by=['Date'],ascending=[True])

In [ ]:
dji_mod.to_csv()